.filter_Sect{
    background-color: #fff;
}

.filter_Sect ul li{
    background-color: #fff;
    padding:10px;
    font-weight: 500;
    font-size: 13px;
    border-top: 1px solid #eee;
}

.filter_Sect ul li:first-child{
    padding: 10px 10px 0px 10px!important;
    font-size: 18px;
}

.filter_Sect ul div{
    margin-bottom: 10px;
}


.filter_title{
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px; 
    font-weight: 500
}

.filter_divs {
    padding:7px 10px;
}

/* input.form-check[type="checkbox"]{
    margin : 10px 6px 0px 0px;
} */

.form-check > label{
    font-size: 14px;
    margin-left: 1.5em;
    font-weight: 400;
    vertical-align: middle;
}

.productList{
    background-color: #fff;
}


.pddh-15{
    padding-left:15px;
    padding-right:15px;
}

.pddv-15{
    padding-top:15px ;
    padding-bottom:15px ;
}


body {
    background-color: #f7f8f9;
}

.card {
    background-color: #ffffff;
    border: 1px solid rgba(0, 34, 51, 0.1);
    box-shadow: 2px 4px 10px 0 rgba(0, 34, 51, 0.05), 2px 4px 10px 0 rgba(0, 34, 51, 0.05);
    border-radius: 0.15rem;
}

/* Tabs Card */

.tab-card {
  border:1px solid #eee;
}

.tab-card-header {
  background:none;
  border-bottom: 1px solid #eee;
}
/* Default mode */
.tab-card-header > .nav-tabs {
  border: none;
  margin: 0px;
}
.tab-card-header > .nav-tabs > li {
  margin-right: 2px;
}
.tab-card-header > .nav-tabs > li > a {
  border: 0;
  border-bottom:2px solid transparent;
  margin-right: 0;
  color: #737373;
  padding: 7px 15px;
}

.tab-card-header > .nav-tabs > li > a.show {
    border-bottom:2px solid #007bff;
    color: #007bff;
}
.tab-card-header > .nav-tabs > li > a:hover {
    color: #007bff;
}

.tab-card-header > .tab-content {
  padding-bottom: 0;
}


.prt_label{
    font-size: 16px;
    font-weight: 500;
    color:#333;
}

.prt_label:hover{
    color:blue;
}

.prt_compare{
    bottom: 0;
    position: absolute;
}

.prt_heart{
    right: 0;
    position: absolute;
}